/* * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    
    color: #000;
} */

/* nav .navbar-brand {
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
} */

/* nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

nav .nav-list .nav-item:hover {
    background: #b69955;
}

nav .nav-list .nav-link {
    color: #000;
    font-size: 18px;
    font-weight: 500;
} */

.container-mt {
    position: relative;
    text-align: center;
    color: white;
  }
        .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  .search-bar{
    width: 40px;
  }
  .b1{
    border: 1px solid #000;
    background-color: transparent #404040;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    font-size: 14px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    margin-top: 5px;
  }
  .btn:hover{
    background:#fff;
    color: #000;
  }
  
  .b2{
    border: 1px solid #fff;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    color: #ffffff;
    
  }
  .b2:hover{
    background-color: transparent;
  }
  .b3{
    border: 1px solid grey;
    width: 120px;
  }
  .text1{
    font-family:sans-serif;
    font-weight: 600;
    cursor: pointer;
  }
  .text2{
    font-size:x-small;
    font-weight: bold;
    color: #fff;
    background-color: gainsboro;
    width: 50px;
    height: 15px;
    margin-top: 5px;
    border-radius: 3px;
  }
.text2:hover{
    background-color: rgb(245, 99, 148);
    cursor: pointer;
}
.fa:hover{
    /* background-color: #000; */
    cursor: pointer;
    fill: #f152bf;
}
 /*(((((((((((((((((( botton word @ )))))))))))))))))) */
 .bottom-right {
  position: absolute;
  margin-top: 170px;
  margin-left: 100px;
  color: #f1f1f1;
  text-decoration: none;
 }
  .bottom-right:hover {
    text-decoration: none;
    color: #fff;
  }
 .filter{
  width: 100px;
  height: 40px;
  background-color: #fff;
  border: 1px solid gainsboro;
 }
 .signup{
  background-color: #ea4c89;
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 7px;
  color: #fff;
 }
 
 .arrow{
  width: 60px;
 } 

@media (max-width: 935px) {

    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item {
        padding: 0 20px;
    }
    .b1{
      border: 0px solid #000;
      background-color: transparent #404040;
      border-radius: 10px;
      width: 80px;
      height: 30px;
      font-size: x-small;
      background-color: rgba(0,0,0,0.5);
      color: #fff;
    }

}

@media (max-width: 675px) {

    nav .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }
    


    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }
}
  /* first size */
@media (min-width:320px) and (max-width:480px){
    nav .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }
    .container-mt {
        position: relative;
        text-align: center;
        color: white;
      }
            .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
      }
      .form-control{
        border-radius: 12px;
        width: 0px;
        
      }
      .back-video{
        width: 100%;
        height:auto;
        text-align: center;
      }
        

  .search-bar{
    width: 40px;
  }
  .b1{
    border: 1px solid #000;
    background-color: transparent #404040;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-size: xx-small;


  }
  .header{
    font-size: small;
  }
  .paragraph{
    font-size: x-small;
  }

  .btn:hover{
    background:#fff;
    color: #000;
  }
  
  .b2{
    border: 1px solid #fff;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    color: #ffffff;
    font-size: xx-small;
    margin-top: 5px;
}
  .b2:hover{
    background-color: transparent;
  }
  .b3{
    border: 1px solid grey;
    width: 120px;
  }
  .form-control{
    width: 150px;
    height: 30px;
    margin-top: -10px;
  }
  /* .back-video{
    width: fit-content;
    width: 100%;
  } */
      
}
    /* 2 nd size */
@media (min-width:425px) and (max-width:675px){
        nav .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }
}
      /* 3 rd size */
@media (min-width:768px) and (max-width:991px){
    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item {
        padding: 0 20px;
    }
}
    /* 4 th size */
@media (min-width:1024px) and (max-width:1440px){}

    /* 5th size */
@media (min-width:1440px) and (max-width:2000px){}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

/* input {
    display: none;
}

input:checked ~ nav .nav-list {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
} */